@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos personalizados para Ant Design */
.ant-layout-header {
  display: flex;
  align-items: center;
}

/* Melhoria na visualização de listas no formulário */
.ant-form-item-control-input-content {
  width: 100%;
}

/* Estilo para o iframe de preview */
iframe {
  border-radius: 6px;
}

/* Responsividade */
@media (max-width: 768px) {

  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    padding: 8px !important;
  }
}
